@charset "UTF-8";

/*
	##### SITE NAME #####
	
	[Base]
		0. Resetting default margin and padding
		1. HTML, Body, Anchor
		2. Heading, Paragraph
		3. List
		4. Table
		5. Form
		6. Other
		7. For IE6/7
*/

/* //////////////////////////////////////////////////
[Base] 
////////////////////////////////////////////////// */

/* --------------------------------------------------
	0. Resetting default margin and padding
-------------------------------------------------- */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, p, blockquote, th, td, form, fieldset, legend {
	margin: 0;
	padding: 0;
}

/* --------------------------------------------------
	1. HTML, Body, Anchor
-------------------------------------------------- */
html { overflow-y: scroll; } /* for mozilla: always display scrollbar */

body {
	color: #000;
	font-family: "メイリオ", Meiryo, sans-serif;
	font-size: 13px;
	line-height: 1.5;
	*font-size: 82%; /* for ie6/7 */
}

/*
Font-size list (base: 13px)
 62% =  8px
 70% =  9px
 77% = 10px
 85% = 11px        162% = 21px        239% = 31px
 93% = 12px        170% = 22px        247% = 32px
100% = 13px        177% = 23px        254% = 33px
108% = 14px        185% = 24px        262% = 34px
116% = 15px        193% = 25px        270% = 35px
124% = 16px        200% = 26px        277% = 36px
131% = 17px        208% = 27px        285% = 37px
139% = 18px        216% = 28px        293% = 38px
147% = 19px        224% = 29px        300% = 39px
154% = 20px        231% = 30px        308% = 40px
*/

a:link {
	color: #00e;
	text-decoration: underline;
}
a:visited {
	color: #551a8b;
	text-decoration: underline;
}
a:hover,
a:active  {
	color: #00e;
	text-decoration: none;
}

/* --------------------------------------------------
	2. Heading, Paragraph
-------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	line-height: 1.2;
}
/* p {} */

/* --------------------------------------------------
	3. List
-------------------------------------------------- */
li { list-style: none; }

/* --------------------------------------------------
	4. Table
-------------------------------------------------- */
table {
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 100%;
	font-family: inherit;
}
caption, th, td {
	text-align: left;
	vertical-align: top;
	font-weight: normal;
}

/* --------------------------------------------------
	5. Form
-------------------------------------------------- */
fieldset { border: none; }

input, textarea, select, label {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	font-size: 100%;
	font-family: inherit;
	vertical-align: middle;
}
label { cursor: pointer; }

textarea { overflow: auto; }

/* --------------------------------------------------
	6. Other
-------------------------------------------------- */
img {
	border: none;
	vertical-align: bottom;
}
object {
	vertical-align: middle;
	outline: none;
}
em, strong {
	font-weight: bold;
	font-style: normal;
}
abbr, acronym {
	border: none;
	font-variant: normal;
}
q:before, q:after { content: ''; }

address, caption, cite, code, dfn, var {
	font-weight: normal;
	font-style: normal;
}
code, pre { font-family: monospace; }

sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }

hr { display: none; }

/* ------------------------------------------------------------
	7. For IE6/7
------------------------------------------------------------ */

/* --- for ie7: page zoom bug fix --- */
*:first-child+html body,
*:first-child+html br { letter-spacing: 0; }

